@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'hug';
    font-size: large;
    src: url('./Karina.ttf') format('truetype');
}


body {
  background-color: #6EBBFF;
  font-family: 'hug', sans-serif;
  font-size: 24px;
  color: white;
  cursor: url('/spark1.png'), auto;
}


.poppins {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}


.retro {
    font-family: 'Retro', sans-serif;
}

.neuebit {
  font-family: 'neuebit', sans-serif;
  font-size: x-large;
}

.code {
  font-family: 'VT323';
  font-size: large;
}

.neuebit-body {
  font-family: 'neuebit', sans-serif;
  font-size: xx-large;
}

a, 
button,
[role='button']
{
  cursor: url('/spark2.png'), pointer;
}

a {
  color: lightpink;
  text-decoration: underline;
  cursor: url('/spark2.png'), pointer;
}

a:hover {
  color: white;
}

.computer-hover {
  transition: transform 0.25s ease;
}

.computer-hover:hover {
  transform: scale(1.15);
}
