@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hug";
  src: url("./Poppins-Regular.ttf") format("truetype");
}

body {
  font-family: "hug", sans-serif;
  font-size: 24px;
  color: white;
  cursor: url("/spark1.png"), auto;
}

header {
  background-color: transparent !important;
}

.poppins {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.retro {
  font-family: "Retro", sans-serif;
}

.neuebit {
  font-family: "neuebit", sans-serif;
  font-size: x-large;
}

.code {
  font-family: "VT323";
  font-size: large;
}

.neuebit-body {
  font-family: "neuebit", sans-serif;
  font-size: xx-large;
}

a,
button,
[role="button"] {
  cursor: url("/spark2.png"), pointer;
}

a {
  color: #bfdbfe;
  text-decoration: underline;
  cursor: url("/spark2.png"), pointer;
}

a:hover {
  color: white;
}

.computer-hover {
  transition: transform 0.25s ease;
}

.computer-hover:hover {
  transform: scale(1.08);
}

.cursor-trail {
  position: fixed;
  pointer-events: none;
  width: 16px;
  height: 16px;
  background-image: url("/spark1.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  /** transform: translate(-70%, -70%);*/
  animation: fadeOut 1.5s forwards;
  z-index: 9999;
}

@keyframes fadeIn{
  to {
    opacity: 1;
    transform: translate(50%, 50%) scale(0.5);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes float {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(10px, -10px); }
  100% { transform: translate(0, 0); }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
}

.bounce {
  animation: bounce 1s infinite ease-in-out;
}